{% extends 'base.html.twig' %}

{% block title %}SymphArt{% endblock %}

{% block body %}
	<h1>Welcome to SymphArt</h1>
	<p class="lead">This project is made with Symfony 4 only by educational purpose</p>
{% endblock %}